p ---------------------------------

p
  strong Inventory

if items.length

  ul
    each item in items
      li
        strong= item.name
        span : #{item.description}

else

  p Your inventory is empty

br