
/* Basic site styles */

body * {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: monospace;
  color: #00ff00;
}

.messages {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.messages .username {
  color: #ff00ff;
  display: inline-block;
  margin-right: 10px;
}

form {
  width: 100%;
}

form input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: monospace;
  color: #00ff00;
}

form input:focus {
  outline: none;
}

.warning {
  color: #ff0000;
}

.info {
  color: #0000ff;
}

a {
  color: #3CBBC6;
}