p ---------------------------------

p Drops an item

p
  strong Example:

p /drop Thumb Drive

p
  strong Arguments:

ul
  li <strong>n</strong> or <strong>name</strong>: Name of item you wish to drop.