p ---------------------------------

p Provides user with instructions on how to use this program.

p
  strong Example:

p /help -command signup

p
  strong Parameters:

ul
  li <strong>c</strong> or <strong>command</strong>: Name of command you wish to run.