p ---------------------------------

p Prints out a "me" message

p
  strong Example:

p /me eats a banana

p
  strong Arguments:

ul
  li <strong>m</strong> or <strong>message</strong>: Message to display