p ---------------------------------

p Moves user to a new environment.

p
  strong Example:

p /moveto -name GloboCorp HQ Lawn

p
  strong Parameters:

ul
  li <strong>n</strong> or <strong>name</strong>: Case sensitive name of environment you wish to move to.