p ---------------------------------

p To run a command type "/" followed by the name of the command you wish to run. Use a dash followed by an argument name to pass arguments

p Example:

p /signup -username Dan -email user@gmail.com -password supersecretpwd

p Available commands:

ul
  li help
  li look
  li moveto
  li signup
  li signin
  li signout
  li resetpassword
  li updateaccount
  li users

p For more information about each command, type something similar to the following:

p /help -command signin