p ---------------------------------

p Sends a password reset email to provided email address. Following the link in the email will sign the user in and give them instructions to update their password.

p
  strong Example:

p /resetpassword -email user@gmail.com

p
  strong Arguments:

ul
  li <strong>e</strong> or <strong>email</strong>: Email address to send password reset link to.