p ---------------------------------

p Signs a user in

p
  strong Example:

p /signin -email user@gmail.com -password supersecretpwd

p
  strong Arguments:

ul
  li <strong>e</strong> or <strong>email</strong>: User's email address
  li <strong>p</strong> or <strong>password</strong>: User's password