p ---------------------------------

p Creates a new user account and sends a verification email.

p
  strong Example:

p /signup -username dan -email user@gmail.com -password supersecretpwd

p
  strong Arguments:

ul
  li <strong>u</strong> or <strong>username</strong>: Desired username
  li <strong>e</strong> or <strong>email</strong>: Desired email address
  li <strong>p</strong> or <strong>password</strong>: Desired password