p ---------------------------------

p Updates a user's account info

p
  strong Example:

p /updateaccount -username newusername

p
  strong Arguments:

ul
  li <strong>u</strong> or <strong>username</strong>: Desired username
  li <strong>e</strong> or <strong>email</strong>: Desired email address
  li <strong>p</strong> or <strong>password</strong>: Desired password